{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

<div id="embedContainer" style="width:100%;height:100%;border: 1px solid black">
</div>



<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.7.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.js"></script>

<!--
<script src="scripts/step_interact.js"></script>
<script src="scripts/step_embed.js"></script>
<script src="scripts/step_authorize.js"></script>
<script src="/bower_components/powerbi-client/dist/powerbi.js"></script>   
-->

<script src="{% static 'dash/scripts/powerbi.min.js' %}"></script>
<script src="{% static 'dash/scripts/powerbi-report-authoring.min.js' %}"></script>

<script>

$(document).ready(function () {

    load();


    async function load()
    {

        let loadedResolve, reportLoaded = new Promise((res, rej) => { loadedResolve = res; });
        let renderedResolve, reportRendered = new Promise((res, rej) => { renderedResolve = res; });

        // Get models. models contains enums that can be used.
        models = window['powerbi-client'].models;

        // Embed a Power BI report in the given HTML element with the given configurations
        // Read more about how to embed a Power BI report in your application here: https://go.microsoft.com/fwlink/?linkid=2153590
        function embedPowerBIReport() {
            EMBED_ACCESS_TOKEN = "{{ EMBED_ACCESS_TOKEN }}";
            EMBED_URL = "{{ EMBED_URL }}";
            REPORT_ID = "{{ REPORT_ID }}";
            TOKEN_TYPE = "Bearer";
            /*-----------------------------------------------------------------------------------+
            |    Don't change these values here: access token, embed URL and report ID.          | 
            |    To make changes to these values:                                                | 
            |    1. Save any other code changes to a text editor, as these will be lost.         |
            |    2. Select 'Start over' from the ribbon.                                         |
            |    3. Select a report or use an embed token.                                       |
            +-----------------------------------------------------------------------------------*/
            // Read embed application token
            let accessToken = EMBED_ACCESS_TOKEN;

            // Read embed URL
            let embedUrl = EMBED_URL;

            // Read report Id
            let embedReportId = REPORT_ID;

            // Read embed type from radio
            let tokenType = TOKEN_TYPE;

            // We give All permissions to demonstrate switching between View and Edit mode and saving report.
            let permissions = models.Permissions.All;

            // Create the embed configuration object for the report
            // For more information see https://go.microsoft.com/fwlink/?linkid=2153590
            let config = {
                type: 'report',
                tokenType: tokenType == '0' ? models.TokenType.Aad : models.TokenType.Embed,
                accessToken: accessToken,
                embedUrl: embedUrl,
                id: embedReportId,
                permissions: permissions,
                settings: {
                    panes: {
                        filters: {
                            visible: true
                        },
                        pageNavigation: {
                            visible: true
                        }
                    }
                }
            };

            // Get a reference to the embedded report HTML element
            let embedContainer = $('#embedContainer')[0];

            // Embed the report and display it within the div container.
            report = powerbi.embed(embedContainer, config);

            // report.off removes all event handlers for a specific event
            report.off("loaded");

            // report.on will add an event handler
            report.on("loaded", function () {
                loadedResolve();
                report.off("loaded");
            });

            // report.off removes all event handlers for a specific event
            report.off("error");

            report.on("error", function (event) {
                console.log(event.detail);
            });

            // report.off removes all event handlers for a specific event
            report.off("rendered");

            // report.on will add an event handler
            report.on("rendered", function () {
                renderedResolve();
                report.off("rendered");
            });
        }

        embedPowerBIReport();
        await reportLoaded;

        // Insert here the code you want to run after the report is loaded

        await reportRendered;

        // Insert here the code you want to run after the report is rendered
    }

});

</script>

</body>
</html>